body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3em;
    line-height: 1.4em;
    margin: 0;
    }

    h1{
        font-size: 3rem;
        line-height: 1.3em;
        text-shadow: 3px 3px 4px rgb(235, 235, 235);
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 0.5cm;
    }
    
    .principal{
        height: 600px;
        width: 1000px;
        background-color: rgb(230, 243, 186);
        margin: auto;

    }

    .encabezado{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        background-color: rgb(57, 176, 215);
       
    
    }
    
    .container{
            width: 100%;
           
            margin: 0 auto;      
    }

    .contenido{
        width: 100%;
        height: 70%;
        margin: 0 auto;
    }

    .info{
        display: inline-block;
        height: 0 auto;
        text-align: center;
    }
        .info label{
            display: inline-block;
            text-align: center;
            color: rgb(0, 0, 0);
        }

        .pie{
            width: 100%;
            background-color: rgb(132, 70, 127);
        }

            .pie h3{
                text-shadow: 3px 3px 4px rgb(235, 235, 235);
                color: rgb(0, 0, 0);
                text-align: center;
                
            }

    .botones{
        display: inline-block;
        text-align: center;
        
    }

    .registros{
        width: 100%;
        height: 10%;
    }
        .registros h2{
            display: inline-block;
            
            text-align: center;
        }